// Sections

// [01] hero: navbar, intro, description (product.scss)

// [02] description

.education-description {
	width: 100%;
	max-width: $display-max-width;
	// height: 100%;
	@include flex-box(row, center, center, $bc-09);
	@include debuggin($status, none);
	// display: none;

	> .container {
		width: 100%;
		padding: $mobilePaddingV $mobilePaddingH;
		@include flex-box(column, center, center, none);
		@include debuggin($status, none);

		@media screen and (min-width: 625px) {
			width: 80%;
			padding: 4em 0;
		}

		@media screen and (min-width: 1024px) {
			width: 50%;
		}

		.intro {
			width: 100%;
		    margin-bottom: 20px;
			@include flex-box(column, center, space-between, none);
			@include debuggin($status, none);

			p.question {
				margin-bottom: 10px;
				@include text-info-style(CenturyGothicRegular, 1em, center, $bc-03);

				@media screen and (min-width: 1024px) {
					margin-bottom: 0;
				}
			}

			p.intro {
				margin-bottom: 10px;
				@include text-info-style(CenturyGothicBold, 1.6em, center, $bc-01);
			}

			hr {
			    width: 2px;
			    height: 24px;
			    background-color: $bc-03;
			    border: 0;
			}
		}

		.explanation {
			width: 100%;
			@include flex-box(column, center, center, none);
			@include debuggin($status, none);

			.text {
				@include flex-box(column, flex-start, center, none);
				@include debuggin($status, none);

				p.detail {
					margin-bottom: 20px;
					@include flex-box(column, flex-start, center, none);
					@include text-info-style(CenturyGothicRegular, 1.2em, center, $bc-01);
				}
			}
		}
	}
}

// [03] makisuite

.education-makisuite {
	width: 100%;
	max-width: $display-max-width;
	// height: 100%;
	@include flex-box(column, center, center, $bc-02);
	@include debuggin($status, none);
	// display: none;

	> .container {
		width: 100%;
		padding: $mobilePaddingV $mobilePaddingH;
		@include flex-box(column, center, center, none);
		@include debuggin($status, none);

		@media screen and (min-width: 625px) {
			width: 80%;
			padding: 4em 0;
		}

		@media screen and (min-width: 1024px) {
			width: 60%;
			padding: 4em 0 0 0;
		}

		> .wrapper {
			width: 100%;
			border-bottom: 1px solid $bc-03;
			@include flex-box(column, flex-start, center, none);
			@include debuggin($status, none);

			@media screen and (min-width: 625px) {
				border-bottom: 0;
				align-items: center;
			}

			@media screen and (min-width: 1024px) {
				margin-bottom: 20px;
			}

			p.intro {
				margin-bottom: 10px;
				@include text-info-style(CenturyGothicRegular, 1em, left, $bc-03);

				@media screen and (min-width: 625px) {
					text-align: center;
				}

				@media screen and (min-width: 1024px) {
					margin-bottom: 0;
				}
			}

			p.detail {
				margin-bottom: 10px;
				@include text-info-style(CenturyGothicBold, 1.6em, left, $bc-01);

				@media screen and (min-width: 625px) {
					text-align: center;
				}
			}
		}

		.description {
			width: 100%;
			margin-top: 2em;
			border-bottom: 1px solid $bc-01;
			@include flex-box(column, center, center, none);
			@include debuggin($status, none);

			@media screen and (min-width: 1024px) {
				flex-direction: row;
				justify-content: space-around;
				padding-bottom: 20px;
			}

			svg {
				width: 250px;
				height: 222px;
				display: none;
				@include debuggin($status, none);

				@media screen and (min-width: 1024px) {
					display: block;
				}
			}

			.wrapper {
				width: 100%;
				@include flex-box(column, flex-start, center, none);
				@include debuggin($status, none);

				@media screen and (min-width: 1024px) {
					width: 50%;
				}

				p.title {
					margin-bottom: 10px;
					@include text-info-style(CenturyGothicBold, 1.6em, left, $bc-03);

					@media screen and (min-width: 1024px) {
						margin-bottom: 0;
					}
				}

				p.intro {
					margin-bottom: 30px;
					@include text-info-style(CenturyGothicBold, 1em, left, $bc-01);

					@media screen and (min-width: 1024px) {
						margin-bottom: 50px;
					}
				}

				p.detail {
					margin-bottom: 30px;
					@include text-info-style(CenturyGothicRegular, 1em, left, $bc-01);

					@media screen and (min-width: 1024px) {
						margin-bottom: 50px;
					}
				}

				a.red-button {
					margin-bottom: 40px;

					@media screen and (min-width: 1024px) {
						margin-bottom: 0;
					}
				}
			}
		}

		ul {
			display: none;

			@media screen and (min-width: 625px) {
				width: 100%;
				margin-top: 2em;
				@include flex-box(row, center, center, none);
				@include debuggin($status, none);
			}

			li {
				width: 100%;
				margin-bottom: 20px;
				@include flex-box(column, flex-start, center, none);
				@include debuggin($status, none);

				&:last-child {
					margin-bottom: 0;
				}

				@media screen and (min-width: 625px) {
					align-items: center;
					margin-bottom: 0;
				}

				@media screen and (min-width: 1024px) {
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 20px;
					}
				}

				a {
					@include text-info-style(CenturyGothicBold, 0.95em, left, none);
					@include text-link-style(left, $bc-01, true);
					@include flex-box(row, center, center, none);

					@media screen and (min-width: 1024px) {
						margin-right: 75px;
					}

					span {
						width: 30px;
						height: 30px;
						border-radius: 50%;
						border: 2px solid $bc-01;
						margin-right: 10px;
						@include flex-box(row, center, center, none);
					}
				}
			}
		}
	}
}

// [04] models

 .em-wrapper-right {
	background-color: $bc-09;
}

.em-wrapper-left {
	background-color: $bc-02;
}

.education-model {
	width: 100%;
	max-width: $display-max-width;
	// height: 100%;
	@include flex-box(column, center, center, none);
	@include debuggin($status, none);
	// display: none;

	> .right {
		width: 100%;
		padding: $mobilePaddingV $mobilePaddingH;
		@include flex-box(column, center, center, none);
		@include debuggin($status, none);

		@media screen and (min-width: 625px) {
			width: 80%;
			padding: 4em 0;
			flex-direction: row;
			justify-content: space-between;
		}

		@media screen and (min-width: 1024px) {
			width: 72.5%;
			padding: 4em 0;
		}
	}

	> .left {
		width: 100%;
		padding: $mobilePaddingV $mobilePaddingH;
		@include flex-box(column, center, center, none);
		@include debuggin($status, none);

		@media screen and (min-width: 625px) {
			width: 80%;
			padding: 4em 0;
			flex-direction: row;
			justify-content: space-between;

			.description {

				order: 2;
				margin-left: 5%;
			}

			.image {
				order: 1;

				span {
					top: 0;
					left: 0;

					a {
						transform: scale(-1, 1);
					}
				}
			}
		}

		@media screen and (min-width: 1024px) {
			width: 72.5%;
			padding: 4em 0;
		}
	}

	.description {
		width: 100%;
		@include flex-box(column, flex-start, center, none);
		@include debuggin($status, none);

		@media screen and (min-width: 625px) {
			width: 45%;
		}

		@media screen and (min-width: 1024px) {
			margin: 0 12.5% 0 2.5%;
		}

		p.title {
			margin-bottom: 10px;
			@include text-info-style(CenturyGothicBold, 1.6em, left, $bc-03);

			@media screen and (min-width: 1024px) {
				margin-bottom: 0;
			}
		}

		p.intro {
			margin-bottom: 30px;
			@include text-info-style(CenturyGothicBold, 1em, left, $bc-01);

			@media screen and (min-width: 1024px) {
				margin-bottom: 50px;
			}
		}

		p.detail {
			margin-bottom: 30px;
			@include text-info-style(CenturyGothicRegular, 1em, left, $bc-01);

			@media screen and (min-width: 625px) {
				margin-bottom: 0;
			}
		}
	}

	.image {
		position: relative;
		width: 100%;
		height: 135px;
		@include debuggin($status, none);

		@media screen and (min-width: 625px) {
			width: 45%;
			height: 100px;
		}

		@media screen and (min-width: 1024px) {
			height: 135px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}

		span {
			position: absolute;
			top: 0;
			right: 0;
			width: 9.55%;
			height: 100%;
			@include flex-box(row, center, center, $bc-03);

			a {
				width: 100%;
				height: 100%;
				@include flex-box(row, center, center, none);

				svg {
					width: 5px;
					height: 10px;
				}
			}
		}
	}
}

// [05] success-case

.education-success-case {
	width: 100%;
	max-width: $display-max-width;
	// height: 100%;
	@include flex-box(column, center, center, $bc-02);
	@include debuggin($status, none);
	// display: none;

	> .container {
		width: 100%;
		height: 350px;
		padding: $mobilePaddingV $mobilePaddingH;
		background: linear-gradient(to bottom, 
			$bc-01 45%, 
			$bc-02 45%);
		@include flex-box(column, center, center, none);
		@include debuggin($status, none);

		@media screen and (min-width: 625px) {
			padding: 4em 0;
		}

		// @media screen and (min-width: 1024px) {
		// 	width: 60%;
		// 	padding: 4em 0 0 0;
		// }

		.text {
			width: 100%;
			// height: auto;
			@include flex-box(column, center, center, none);
			@include debuggin($status, none);

			@media screen and (min-width: 625px) {
				width: 80%;
				align-items: flex-start;
			}

			p.title {
				margin-bottom: 10px;
				@include text-info-style(CenturyGothicBold, 1.6em, center, $bc-02);

				@media screen and (min-width: 1024px) {
					margin-bottom: 0;
				}
			}

			p.intro {
				margin-bottom: 30px;
				@include text-info-style(CenturyGothicBold, 1em, center, $bc-03);

				@media screen and (min-width: 1024px) {
					margin-bottom: 50px;
				}
			}
		}

		.slider {
			position: relative;
			width: 100%;
			// height: auto;
			@include flex-box(column, center, center, none);
			@include debuggin($status, none);

			@media screen and (min-width: 625px) {
				width: 80%;
			}

			> .wrapper {
				width: 100%;
				// height: auto;
				@include flex-box(column, center, center, none);

				ul {

					li {
						display: none;

						&:first-child {
							display: inline-block;
						}
						
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: center center;
						}
					}
				}

			}

			> .controls {
				position: absolute;
				width: 100%;
				// height: auto;
				@include flex-box(row, center, space-between, none);
				@include debuggin($status, none);

				a {
					display: block;

					&:last-child {
						transform: scale(-1, 1);
					}

					svg {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
	}
}

// [06] footer